.fundo {
    background-image: url(https://ik.imagekit.io/beatrizalsilva/Blog%20Pessoal/cadastro.jpg?updatedAt=1717002753729);
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}