.fundoLogin {
    background-image: url(https://ik.imagekit.io/beatrizalsilva/Blog%20Pessoal/login.jpg?updatedAt=1717002721797);
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}